<h1>Hola, como estas?</h1>
<button (click)="setVisible()">
    {{visible? 'Ocultar'  :  'Mostrar' }}
</button>

@if (visible){
<div>
    <h2>{{title}}</h2>
     <h3>Total:{{counter}}</h3>
     @if (users.length>0) {
      <table>
          <thead>
            <tr>
             <th>Id</th>
             <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track $index){
            <tr>
              <td>{{$index+1}}</td>
              <td>{{user}}</td>
            </tr>
            }
          </tbody>

      </table>
     } @else {
        <p>No existe registro en el sistema!</p>
    }

</div>
}@else{
<h2>Lo sentimos no esta disponible la pagina!</h2>
}

<app-counter [title]="subTible"  (counterEmmit)="setCounter($event)"></app-counter>